body{
  font-family: sans-serif;
  position: relative;

}
.icon{
  font-size: 100px;
}
.icon:hover{
  transform: scale(1.3);

}
.container-fluid{
  line-height: 1.5rem;
  padding: 3% 15%;
}

#features {
  position: relative;
}
.feature-box {
  line-height: 1.5rem;
  padding-top:3%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.mid-sec{
    line-height: 1.5rem;
}

.box{
  padding-top:3%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.im{
  font-size: 50px;
}
